.nav {
    grid-area: n;
    background-color: green;
    padding: 20px;
    background-image: url("./../Assets/navBarBackground.jpg");
    
  }

.image {
    width: 100%;
    
}

.dropDownIcon {
    height: 100px;
    width: 100px;
}

.navIcon {
    position: absolute;
    top: 0;
    right: -60px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s;
}
.item a{
    font-size: 175%;
    color: black;
    text-decoration: none;
    /* clear: both; */
}

.item:hover {
    background-color: rgba(230, 211, 211, 0.342);
    border-radius: 30px;
}

.item a.activeLink {
    color: rgb(23, 30, 92);
    font-weight: bold;
}